@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Josefin Sans", "Nunito","Noto Sans TC","黑體-繁","微軟正黑體", sans-serif; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  color: #605e5e;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 95vh repeat(6, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-weight: 400; }

.heading-1 {
  font-size: 7.5rem;
  line-height: 1;
  font-weight: 400;
  color: #fff; }

.heading-2 {
  font-size: 4rem;
  line-height: 1;
  color: #0d1e2d; }

.heading-3 {
  font-size: 2rem;
  color: #0d1e2d; }

.heading-4 {
  font-size: 4rem;
  line-height: 1;
  color: #c5d7ee; }

.paragraph {
  font-size: 2rem;
  line-height: 1.2;
  color: #0d1e2d;
  margin: 3rem 0;
  font-style: italic; }

.dot-vertical {
  transform-origin: center 2px;
  width: 15rem;
  height: 5px;
  transform: rotate(90deg);
  border-top: 4px dotted #0a0186;
  margin-top: 8rem; }

.dot-horizontal {
  transform-origin: center 2px;
  width: 15rem;
  height: 5px;
  border-top: 2px solid #0a0186; }

.button {
  margin-top: 1rem;
  text-decoration: none;
  padding: .5rem 4rem;
  display: inline-block;
  transition: all .2;
  position: relative;
  border: none;
  cursor: pointer;
  background-color: #0d1e2d;
  color: #fff; }
  .button:hover {
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .button:active {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.form {
  color: #2f2e2e;
  font-size: 1.5rem; }
  .form__group:not(:last-child) {
    margin-bottom: 1rem; }
  .form__input {
    font-size: 1.5rem;
    padding: .5rem 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    color: inherit;
    width: 100%;
    display: block; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #5170ae; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #650303; }
    .form__input::-webkit-input-placeholder {
      color: #0d1e2d; }
  .form__label {
    font-weight: 500;
    margin-top: .7rem;
    display: block; }

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }

.navigation {
  height: 6rem;
  grid-column: center-start / center-end;
  font-weight: 400;
  background-color: transparent;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 50;
  transition: all 200ms linear;
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .navigation__checkbox {
    display: none; }
  .navigation__link {
    color: #fff;
    margin: .3rem;
    transition: all .2; }
    .navigation__link:link, .navigation__link:visited {
      display: inline-block;
      font-size: 2rem;
      font-weight: 400;
      text-decoration: none;
      text-transform: uppercase;
      transition: all .4s; }
    .navigation__link:hover, .navigation__link:active {
      color: #8fa5c8; }
  .navigation__logo {
    padding: 1rem;
    width: 30%; }
  .navigation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: #fff;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin-right: 1rem; }
  .navigation-fixed-top.scrolled {
    background-color: #fff;
    border: none;
    transition: all 200ms linear; }
    .navigation-fixed-top.scrolled:hover {
      color: #8fa5c8; }
  .navigation__link.scrolled {
    color: #0d1e2d; }

@media only screen and (max-width: 37.5em) {
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: rgba(50, 70, 106, 0.9);
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: .5rem;
    right: 2rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
  .navigation__background {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: fixed;
    top: .5rem;
    right: 2rem;
    background-image: radial-gradient(#32466a, #0b6365);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all .4s; }
    .navigation__link:link span, .navigation__link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #8fa5c8;
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__icon {
    position: relative;
    margin-top: 2.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: .2rem;
      background-color: #efefef;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); } }

.header {
  grid-column: full-start / full-end;
  width: 100%;
  height: 95vh;
  overflow: hidden;
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__icon {
    width: 3rem;
    height: 3rem;
    fill: #efefef;
    margin: auto;
    display: block;
    margin-top: 1rem; }

.slideshow-element {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  /* make header in the center */
  z-index: 10;
  border-left: 7px solid #32466a;
  padding: 1.5rem; }

.arrow {
  position: absolute;
  top: 80%;
  left: 45%;
  transform: translate(-50%, -50%);
  /* make header in the center */
  z-index: 20; }
  .arrow > a {
    font-size: 2rem;
    font-weight: 400;
    color: #efefef;
    text-decoration: none; }

.video__wrap {
  width: 100%; }

.video__overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  opacity: 0.85;
  background: linear-gradient(to right bottom, rgba(11, 99, 101, 0.7), rgba(45, 53, 128, 0.7)), url(../assets/img/header.jpeg) center center no-repeat;
  background-size: cover; }

.video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto; }

.abouts {
  grid-column: full-start / full-end;
  padding: 8rem 0rem; }
  @supports (display: grid) {
    .abouts__content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
      grid-gap: 6rem; } }
  .abouts__logo {
    padding: 5rem 0;
    justify-content: center;
    text-align: center; }
    .abouts__logo > img {
      width: 30rem; }

.about {
  background-color: #c5d7ee;
  font-size: 2rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .about__icon {
    fill: #fff;
    width: 10rem;
    height: 10rem;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    background-color: #32466a;
    display: block; }
  .about > .heading-3 {
    font-size: 2.5rem;
    margin-top: 1rem; }

.features {
  background-color: #efefef;
  grid-column: full-start / full-end;
  padding: 8rem 5rem; }
  @supports (display: grid) {
    .features__content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      grid-gap: 6rem;
      align-items: start; } }
  .features__text {
    padding: 5rem 0;
    justify-content: center;
    text-align: center; }

.feature {
  justify-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
  grid-row-gap: 2rem;
  margin-bottom: 6rem; }
  @supports (display: grid) {
    .feature {
      width: auto;
      margin-bottom: 0; } }
  .feature__icon {
    fill: #32466a;
    width: 8rem;
    height: 8rem;
    grid-row: 1 / span 1; }
  .feature__text {
    font-size: 1.7rem; }

.services {
  background-color: #5170ae;
  grid-column: full-start / full-end;
  padding: 8rem 5rem;
  padding-bottom: 20rem; }
  .services__text {
    line-height: 1;
    text-align: center;
    font-size: 4rem;
    color: #fff;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .services__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 7vw);
    grid-gap: 2rem;
    margin-top: -5rem; }
    @media only screen and (max-width: 50em) {
      .services__content {
        display: flex;
        flex-direction: column; } }
  .services__item {
    color: #fff;
    display: flex;
    flex-direction: column; }
    .services__item--1 {
      grid-row: 1 / span 3;
      grid-column: 1 / span 1; }
    .services__item--2 {
      grid-row: 3 / span 3;
      grid-column: 2 / span 1; }
    .services__item--3 {
      grid-row: 5 / span 3; }
    .services__item--4 {
      grid-row: 7 / span 3; }
    .services__item-title {
      align-self: flex-start;
      letter-spacing: .1rem;
      font-size: 4rem;
      border-bottom: 2px solid #32466a;
      transform: translateY(8rem); }
    .services__item-num {
      letter-spacing: .1rem;
      font-size: 6rem;
      font-weight: 400;
      align-self: flex-end;
      transform: translateY(6rem);
      z-index: 20;
      opacity: 0; }
  .services__img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    display: block;
    transition: all .5s;
    -webkit-transition: all .3s;
    backface-visibility: hidden; }

/*With Simple Caption*/
.gallery {
  position: relative; }
  .gallery__caption {
    color: #2d3580;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .5s ease;
    backface-visibility: hidden;
    text-align: center;
    font-size: 2rem; }
  .gallery:hover .gallery__caption {
    opacity: 1;
    color: #c5d7ee; }
  .gallery:hover img {
    -webkit-filter: blur(1px) brightness(30%) grayscale(70%);
    filter: blur(1px) brightness(30%) grayscale(70%); }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .gallery__caption {
      opacity: 1;
      color: #c5d7ee;
      font-size: 1.5rem; }
    .gallery > img {
      -webkit-filter: blur(1px) brightness(50%) grayscale(50%);
      filter: blur(1px) brightness(50%) grayscale(50%); } }

.clients {
  grid-column: center-start / center-end; }

.contact {
  background-color: #c5d7ee;
  padding: 8rem 5rem;
  grid-column: full-start / full-end; }
  .contact__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 3rem;
    justify-content: center; }
  .contact__item {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: #2f2e2e; }
  .contact__form {
    width: 100%; }
  .contact__info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    margin-bottom: 5rem;
    grid-gap: 5rem;
    justify-items: center;
    align-items: center; }
  .contact__location, .contact__phone, .contact__email {
    display: flex; }
    .contact__location svg, .contact__phone svg, .contact__email svg {
      fill: #32466a;
      height: 2.5rem;
      width: 2.5rem;
      margin-right: 1rem;
      margin-bottom: 1.5rem; }
  .contact__hour {
    margin-top: 5rem; }
  .contact__map {
    width: 100%;
    height: 50rem; }

.footer {
  background-color: #0d1e2d;
  color: #efefef;
  padding: 8rem;
  font-size: 1.5rem;
  grid-column: full-start / full-end; }
  .footer__info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    margin-bottom: 5rem;
    grid-gap: 5rem;
    justify-items: center;
    align-items: center; }
  .footer__logo {
    width: 20rem; }
  .footer__location, .footer__phone, .footer__email {
    display: flex; }
    .footer__location svg, .footer__phone svg, .footer__email svg {
      fill: #efefef;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;
      margin-bottom: 1.5rem; }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.4rem;
    color: #efefef;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s; }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }

.copyright {
  font-size: 1.4rem;
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%; }
