.abouts {
    grid-column: full-start / full-end;
    padding: 8rem 0rem;

    &__content {
        @supports(display: grid) {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
            grid-gap: 6rem;
        }
    }

    &__logo {
        padding: 5rem 0;
        justify-content: center;
        text-align: center;

        & > img {
            width: 30rem;
        }
    }
}

.about {
    background-color: $color-primary-light;
    font-size: 2rem;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__icon {
        fill: #fff;
        width: 10rem;
        height: 10rem;
        padding: 1.5rem;
        margin-bottom: 1rem;

        border-radius: 50%;
        background-color: $color-grey-dark-1;
        display: block;
    }

    & > .heading-3 {
        font-size: 2.5rem;
        margin-top: 1rem;
    }


}